## 证书生成环境变量
LICENSE_SYSTEM_CODE=agx-sample
LICENSE_CUSTOMER_CODE=customer-001
LICENSE_CUSTOMER_NAME=测试客户
LICENSE_BEGIN_DATE=2026-07-29 00:00:00
LICENSE_END_DATE=2026-07-29 00:00:00
LICENSE_PRIVATE_KEY=私钥
LICENSE_OUTPUT=./agx.lic